<script>
  OEKAKI_URL = "<%= @house.image %>";
</script>

<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.hidden_field :image %><br>
    <%= f.hidden_field :remote_image_url %><br>
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </div>

  <br/>

  <div class="oekaki">
    <canvas id="simple_sketch"></canvas>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#simple_sketch').sketch();
      
      var w = $('.oekaki').width();
      var h = $('.oekaki').height();
      $('#simple_sketch').attr('width', w);
      $('#simple_sketch').attr('height', h);

    });
  </script>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
