<%= form_for(@house) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.file_field :image %><br>
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </div>
  
<canvas id="simple_sketch" width="800" height="300"></canvas>
<script type="text/javascript">
  $(function() {
    $('#simple_sketch').sketch();
  });
</script>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
