<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col"><%= house.name %></div>
  <div class="mdl-cell mdl-cell--4-col">
  <% if Favorite.find_by(house_id: house.id, user_id: current_user.id) %>
  <%= link_to image_tag('star10.gif', :border => '0', :alt => 'お気に入り登録',class: "star"), house_unfavorite_path(house), method: :delete, remote: true, class: "houses-#{house.id} rikako" %>
  <% else %>
    <%= link_to image_tag('star20.png', :border => '0', :alt => 'お気に入り解除',class: "star"), house_favorite_path(house), method: :post, remote: true, class: "houses-#{house.id} rikako" %>
  <% end %>
  <span class="houses-<%= house.id %>-favorite">
    <%= house.favorites_count %>
  </span>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col"><%= image_tag(house.image_url, width: 300) if house.image? %></div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col">
    <%= link_to 'Show', house, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
    <%= link_to 'Edit', edit_house_path(house), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
    <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' }, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
</div>
