<p id="notice"><%= notice %></p>

<% @houses.each do |house| %>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col"><%= house.name %></div>
    <div class="mdl-cell mdl-cell--4-col">
    <% house.favorites do |favorite| %>
      <%= favorite %>
    <% end %>
    <% if Favorite.find_by(house_id: house.id, user_id: current_user.id) %>
      <%= link_to '☆　お気に入り解除', house_unfavorite_path(house), method: :delete %>
    <% else %>
      <%= link_to '★　お気に入りに追加', house_favorite_path(house), method: :post %>
    <% end %>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col"><%= image_tag(house.image_url) if house.image? %></div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
      <%= link_to 'Show', house, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %></button>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <%= link_to 'Edit', edit_house_path(house), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' }, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    </div>
  </div>
<% end %>

<%= link_to 'New House', new_house_path %>
