<p id="notice"><%= notice %></p>
<div class="page-content">
  <div class="content-block">
    <p>
      <strong>Name:</strong>
      <%= @house.name %><br>
      <strong>Image:</strong><br>
      <%= image_tag(@house.image_url, width: 300) if @house.image? %>
    </p>
    <strong>詳細</strong><br>
      <%= @house.detail %><br>
    <a href="http://suumo.jp/jj/chintai/ichiran/FR301FC001/?ar=030&bs=040&pc=30&smk=&po1=12&po2=99&shkr1=03&shkr2=03&shkr3=03&shkr4=03&rn=0305&ek=030506640&ra=013&cb=10.5&ct=9999999&md=04&et=5&mb=40&mt=9999999&cn=7&tc=0400301&fw2=" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored external" style="color: white;background-color: #519C00;" role="button">りかこが間取りを検索</a><br>
    <%= link_to 'Edit', edit_house_path(@house), class: 'external' %> |
    <%= link_to 'Destroy', @house, method: :delete, data: { confirm: 'Are you sure?' }, class: "external" %>
    <%= link_to 'Back', houses_path, class: 'external' %>
    <br>
　</div>
</div>>
