<!DOCTYPE html>
<html>
<head>
  <title>Madoomo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.light_green-green.min.css" />
</head>
<body>

<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">MADOOMO</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <%= link_to 'マイページ', user_path(current_user), class: 'mdl-navigation__link' %>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">M</span>
    <nav class="mdl-navigation">
        <%= link_to 'マイページ', user_path(current_user), class: 'mdl-navigation__link' %>
    </nav>
  </div>
  <main class="mdl-layout__content">

  <%= yield %>

  </main>
</div>

</body>
</html>
